* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

header {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding-top: 84px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 100;
  height: 64px;
}

.nav-bar__logo {
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.nav-bar__menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  font-size: 12px;
  gap: 1rem;
  padding-right: 1rem;
}

.nav-bar__menu a {
  color: white;
  text-decoration: none;
}

.nav-bar__menu-item {
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.nav-bar__menu-item:hover {
  text-decoration: underline;
}

.nav-bar__menu-item--blue {
  background: #0787ca;
  padding: 8px 28px;
  border-radius: 2px;
}

.nav-bar__menu-item--blue:hover .subscribe-hover {
  display: flex;
}


.subscribe-hover {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  right: 6%;
  background-color: #feefb9;
  color: black;
  width: 300px;
  height: 200px;
  padding: 20px 0 20px 20px;
  z-index: 3;
  font-family: "Graphik", Arial, Helvetica, sans-serif;
  display: none;
}

.subscribe-hover__content {
  width: 50%;
}

.subscribe-hover__content h5 {
  font-family: "Irvin-Heading", "Helvetica-Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.subscribe-hover__content h3 {
  font-family: "Graphik-Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 100;
  margin-bottom: 1rem;
}

.subscribe-hover__content p {
  font-family: "Graphik-Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.subscribe-hover__button {
  background-color: #000;
  border-radius: 3px;
  padding: 0 10px;
  color: #feefb9;
  font-size: 11px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  margin: 5px 0;
}

.subscribe-hover__button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.subscribe-hover__image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.subscribe-hover__image img {
  width: 100px;
  height: 150px;
}

.nav-bar__menu-item--magnifying-glass {
  margin: 0px 1.5rem 0px 1rem;
}

.header-content-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.header-content-link:hover {
  cursor: pointer;
  text-decoration: none;
}
.header-content {
  display: flex;
  align-items: center;
}

.header-content__img {
  display: flex;
  justify-content: center;
}

.header-content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.header-content__text h3 {
  font-family: "Irvin-Heading", "Helvetica-Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.header-content__text h3:hover {
  text-decoration: underline;
}

.header-content__text p {
  font-family: "TNY-Adobe-Caslon-Pro-Regular", "Times New Roman", Times, serif;
  line-height: 1.33em;
}

.header-content__text h3,
.header-content__text p {
  text-align: center;
  cursor: pointer;
}

.header-content__text-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.301);
  border-radius: 3rem;
  height: 3rem;
  padding: 0 1rem;
  color: white;
}

.header-content__text-button p {
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-left: 0.5rem;
  font-size: 13px !important;
}

.header-bottom-submenu {
  position: sticky; /* ne radi ??? */
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgb(229, 229, 229);
  top: 64px;
}

.header-bottom-submenu__menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  height: 2rem;
  align-items: center;
}

.header-bottom-submenu__menu li {
  font-family: "Graphik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.header-bottom-submenu__menu li a {
  color: black;
  text-decoration: none;
}

.header-bottom-submenu__menu li a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 761px) {
  .nav-bar__hamburger-menu.fas {
    display: none;
  }

  .header-content {
    max-height: 95vh;
    overflow: hidden;
  }

  .header-content__img {
    width: 50%;
    margin-top: 15rem;
  }

  .header-content__img img {
    width: 48rem;
  }

  .header-content__text {
    background-color: black;
    width: 50%;
    min-height: 30rem;
    padding: 0 20px;
  }

  .header-content__text h3 {
    font-size: 36px;
  }

  .header-content__text p {
    font-size: 21px;
  }

  .header-content__text h3,
  .header-content__text p {
    max-width: 30rem;
  }
}

@media only screen and (max-width: 760px) {
  .nav-bar__hamburger-menu {
    margin: 0 24px;
    cursor: pointer;
  }

  .nav-bar__menu {
    display: none;
  }

  .nav-bar__logo {
    position: absolute;
  }

  .header-content {
    flex-direction: column-reverse;
  }

  .header-content__img img {
    max-width: 100%;
    width: 90%;
    height: auto;
  }

  .header-content__text h3 {
    font-size: 28px;
  }

  .header-content__text p {
    font-size: 17px;
  }

  .header-content__text h3,
  .header-content__text p {
    max-width: 70%;
  }

  .header-bottom-submenu {
    display: none;
  }
}




